/* mask: */
background: #000000;
/* Bitmap: */
opacity: 0.39;
/* bg: */
background-image: linear-gradient(-90deg, #787576 0%, rgba(116,188,247,0.00) 100%);
/* Sign In: */
font-family: Avenir-Book;
font-size: 30px;
color: #FFFFFF;
line-height: 30px;
/* Background: */
background: #000000;
/* Mobile Signal: */
background: #FFFFFF;
/* Carrier: */
font-family: HelveticaNeue;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0.2px;
line-height: 29px;
/* Wi-Fi: */
background: #FFFFFF;
/* 9:41 AM: */
font-family: HelveticaNeue;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0.1px;
line-height: 29px;
/* 100%: */
font-family: HelveticaNeue;
font-size: 24px;
color: #FFFFFF;
line-height: 29px;
/* Battery: */
background: #FFFFFF;
border-radius: 1.5px;
/* line: */
opacity: 0.1;
border: 2px solid #FFFFFF;
/* Password: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 28px;
/* shape: */
border: 2px solid #FFFFFF;
/* shape: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Rose online mobile: */
opacity: 0.5;
font-family: Avenir-Book;
font-size: 26px;
color: #FFFFFF;
line-height: 26px;
/* line: */
opacity: 0.1;
border: 2px solid #FFFFFF;
/* Server: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 28px;
/* Triangle 1: */
border: 2px solid #C6C5C6;
/* line: */
opacity: 0.1;
border: 2px solid #FFFFFF;
/* Username: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 28px;
/* shape: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Mask: */
background: #FFFFFF;
/* Bitmap: */
opacity: 0.84;


/* mask: */
background: #000000;
/* Bitmap: */
opacity: 0.39;
/* bg: */
background-image: linear-gradient(-90deg, #787576 0%, rgba(116,188,247,0.00) 100%);
/* Sign In: */
font-family: Avenir-Book;
font-size: 30px;
color: #FFFFFF;
line-height: 30px;
/* line: */
opacity: 0.1;
border: 2px solid #FFFFFF;
/* Server: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 28px;
/* Triangle 1: */
border: 2px solid #C6C5C6;
/* Background: */
background: #000000;
/* Mobile Signal: */
background: #FFFFFF;
/* Carrier: */
font-family: HelveticaNeue;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0.2px;
line-height: 29px;
/* Wi-Fi: */
background: #FFFFFF;
/* 9:41 AM: */
font-family: HelveticaNeue;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0.1px;
line-height: 29px;
/* 100%: */
font-family: HelveticaNeue;
font-size: 24px;
color: #FFFFFF;
line-height: 29px;
/* Battery: */
background: #FFFFFF;
border-radius: 1.5px;
/* Rose online mobile: */
opacity: 0.5;
font-family: Avenir-Book;
font-size: 26px;
color: #FFFFFF;
line-height: 26px;
/* Ruff Rose: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 28px;
/* KT Rose: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 28px;
/* Arua rose: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 28px;
/* Mask: */
background: #FFFFFF;
/* Bitmap: */
opacity: 0.84;
/* Rectangle 18: */
background: rgba(255,255,255,0.10);
border-radius: 8px;


/* mask: */
background: #000000;
/* Bitmap: */
opacity: 0.39;
/* Background: */
background: #000000;
/* Mobile Signal: */
background: #FFFFFF;
/* Carrier: */
font-family: HelveticaNeue;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0.2px;
line-height: 29px;
/* Wi-Fi: */
background: #FFFFFF;
/* 9:41 AM: */
font-family: HelveticaNeue;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0.1px;
line-height: 29px;
/* 100%: */
font-family: HelveticaNeue;
font-size: 24px;
color: #FFFFFF;
line-height: 29px;
/* Battery: */
background: #FFFFFF;
border-radius: 1.5px;
/* line: */
opacity: 0.1;
border: 2px solid #FFFFFF;
/* ********: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 28px;
/* shape: */
border: 2px solid #FFFFFF;
/* shape: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Rose online mobile: */
opacity: 0.5;
font-family: Avenir-Book;
font-size: 26px;
color: #FFFFFF;
line-height: 26px;
/* bg: */
background-image: linear-gradient(-90deg, #787576 0%, rgba(116,188,247,0.00) 100%);
/* Sign In: */
font-family: Avenir-Book;
font-size: 30px;
color: #FFFFFF;
line-height: 30px;
/* line: */
opacity: 0.1;
border: 2px solid #FFFFFF;
/* Ruff Rose: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 28px;
/* Triangle 1: */
border: 2px solid #C6C5C6;
/* line: */
opacity: 0.1;
border: 2px solid #FFFFFF;
/* Shid0x: */
font-family: Avenir-Book;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 28px;
/* shape: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Mask: */
background: #FFFFFF;
/* Bitmap: */
opacity: 0.84;


/* bg: */
background: #FFFFFF;
/* Monsters: */
font-family: Avenir-Book;
font-size: 50px;
color: #1D1D26;
line-height: 50px;
/* category 4: */
border: 6px solid #FF3366;
/* Check stats and loot: */
opacity: 0.5;
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
letter-spacing: 2px;
line-height: 22px;
/* bg: */
background: #FFFFFF;
/* Builds: */
font-family: Avenir-Book;
font-size: 50px;
color: #1D1D26;
line-height: 50px;
/* 2 builds registered: */
opacity: 0.5;
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
letter-spacing: 2px;
line-height: 22px;
/* category 3: */
border: 6px solid #D667CD;
/* bg: */
background: #FFFFFF;
/* Characters: */
font-family: Avenir-Book;
font-size: 50px;
color: #1D1D26;
line-height: 50px;
/* 2 characters: */
opacity: 0.5;
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
letter-spacing: 2px;
line-height: 22px;
/* category: */
border: 6px solid #6563A4;
/* bg: */
background: #FFFFFF;
/* PVP Rank: */
font-family: Avenir-Book;
font-size: 50px;
color: #1D1D26;
line-height: 50px;
/* Ruff league: */
opacity: 0.5;
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
letter-spacing: 2px;
line-height: 22px;
/* category 2: */
border: 6px solid #FCAB53;
/* bg: */
background: #FFFFFF;
/* Status checker: */
font-family: Avenir-Book;
font-size: 50px;
color: #1D1D26;
line-height: 50px;
/* -Ruff Rose-: */
opacity: 0.5;
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
letter-spacing: 2px;
line-height: 22px;
/* category: */
border: 6px solid #8C88FF;
/* bg: */
background: #FFFFFF;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
/* Shop: */
font-family: Avenir-Book;
font-size: 50px;
color: #1D1D26;
line-height: 50px;
/* 10 ITEMS: */
opacity: 0.5;
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
letter-spacing: 2px;
line-height: 22px;
/* category: */
border: 6px solid #50D2C2;
/* mask: */
background: #1D1D26;
/* Bitmap: */
opacity: 0.45;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */


/* Rectangle 41: */
background: #FFFFFF;
/* mask: */
background: #1D1D26;
/* Bitmap: */
opacity: 0.45;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* line: */
/* Sketch doesnt export gradient borders at this point */
/* line: */
/* Sketch doesnt export gradient borders at this point */
/* line: */
/* Sketch doesnt export gradient borders at this point */
/* line: */
/* Sketch doesnt export gradient borders at this point */
/* line: */
/* Sketch doesnt export gradient borders at this point */
/* line: */
/* Sketch doesnt export gradient borders at this point */
/* Line: */
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #E76959;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Line: */
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* Dot: */
background: #FFFFFF;
border: 2px solid #94B73A;
box-shadow: 0px 2px 4px 0px rgba(73,73,73,0.20);
/* 30: */
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
line-height: 22px;
/* 25: */
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
line-height: 22px;
/* 20: */
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
line-height: 22px;
/* 15: */
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
line-height: 22px;
/* 10: */
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
line-height: 22px;
/* 5: */
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
line-height: 22px;
/* 1: */
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
line-height: 22px;
/* Raider: */
font-family: Avenir-Heavy;
font-size: 22px;
color: #94B73A;
letter-spacing: 2px;
line-height: 22px;
/* Champion: */
font-family: Avenir-Heavy;
font-size: 22px;
color: #E76959;
letter-spacing: 2px;
line-height: 22px;
/* Line: */
border: 1px solid #E3E6EA;
/* Line: */
border: 1px solid #E3E6EA;
/* Line: */
border: 1px solid #E3E6EA;
/* Line: */
border: 1px solid #E3E6EA;
/* Line: */
border: 1px solid #E3E6EA;
/* Line: */
border: 1px solid #E3E6EA;
/* ~5000: */
font-family: Avenir-Book;
font-size: 22px;
color: #000000;
line-height: 20px;
/* ~4000: */
font-family: Avenir-Book;
font-size: 22px;
color: #000000;
line-height: 20px;
/* ~3000: */
font-family: Avenir-Book;
font-size: 22px;
color: #000000;
line-height: 20px;
/* ~2000: */
font-family: Avenir-Book;
font-size: 22px;
color: #000000;
line-height: 20px;
/* ~1000: */
font-family: Avenir-Book;
font-size: 22px;
color: #000000;
line-height: 20px;
/* PVP Rankings : : */
font-family: Avenir-Book;
font-size: 64px;
color: #000000;
line-height: 20px;
/* Triangle 1: */
background: #D8D8D8;
/* Triangle 1: */
transform: rotate(180deg);
background: #D8D8D8;


/* Rectangle 41: */
background: #FFFFFF;
/* Bitmap: */
/* Bitmap: */
/* Bitmap: */
/* Line: */
background: #000000;
border: 1px solid #000000;
/* Line: */
background: #000000;
border: 1px solid #000000;
/* Line: */
background: #000000;
border: 1px solid #000000;
/* Bitmap: */
/* Line: */
border: 2px solid #FF3366;
/* Line: */
border: 2px solid #FF3366;
/* Line: */
border: 2px solid #FF3366;
/* Stats: */
font-family: Avenir-Book;
font-size: 48px;
color: #000000;
line-height: 20px;
/* Cycle: */
font-family: Avenir-Book;
font-size: 48px;
color: #000000;
line-height: 20px;
/* Rectangle 49: */
background: #E8E8E8;
/* 51: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* 51: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* snoozed: */
background: #F38FC6;
/* 115: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* snoozed: */
background: #A5E099;
/* overdue: */
background: #FFB258;
/* snoozed: */
background: #FF8888;
/* completed: */
background: #50D2C2;
/* snoozed: */
background: #8C88FF;
/* 51: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 20: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 300: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 135: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 50: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 150: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* CHA: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* SEN: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* DEX: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* STR: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* CON: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* INT: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* mask: */
background: #1D1D26;
/* Bitmap: */
opacity: 0.45;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Builds: */
font-family: Avenir-Book;
font-size: 64px;
color: #000000;
line-height: 20px;
/* Triangle 1: */
transform: rotate(90deg);
background: #D8D8D8;


/* mask: */
background: #1D1D26;
/* Bitmap: */
opacity: 0.45;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Rectangle 45: */
background: #FFFFFF;
/* bg: */
background: #FFFFFF;
/* Dual Raider: */
font-family: Avenir-Book;
font-size: 36.59px;
color: #1D1D26;
line-height: 50px;
/* Shape: */
background: #000000;
/* Shape: */
background: #000000;
/* Shape: */
background: #000000;
/* Shape: */
background: #000000;
/* Shape: */
background: #000000;
/* bg: */
background: #FFFFFF;
/* Skill tree: */
font-family: Avenir-Book;
font-size: 36.59px;
color: #1D1D26;
line-height: 50px;
/* Fill 4: */
background: #879238;
/* Fill 6: */
background: #333333;
/* Fill 8: */
background: #879238;
/* Fill 10: */
background: #879238;
/* Rectangle 49: */
background: #E8E8E8;
/* 51: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* 51: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* snoozed: */
background: #F38FC6;
/* 115: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* snoozed: */
background: #A5E099;
/* overdue: */
background: #FFB258;
/* snoozed: */
background: #FF8888;
/* completed: */
background: #50D2C2;
/* snoozed: */
background: #8C88FF;
/* 51: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 20: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 300: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 135: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 50: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 150: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* Line: */
/* Sketch doesnt export gradient borders at this point */
/* Line: */
/* Sketch doesnt export gradient borders at this point */
/* Mask: */
border: 3px solid #979797;
/* Bitmap: */
/* Shid0x Raider lvl 12: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;
/* Triangle 1: */
background: #D8D8D8;
/* Triangle 1: */
transform: rotate(180deg);
background: #D8D8D8;
/* CHA: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* SEN: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* DEX: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* STR: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* CON: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* INT: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;


/* mask: */
background: #1D1D26;
/* Bitmap: */
opacity: 0.45;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Background: */
background: #FFFFFF;
/* Triangle 1: */
transform: rotate(90deg);
background: #B7AEAE;
/* Adventure plain,Vall: */
font-family: Avenir-LightOblique;
font-size: 20px;
color: #5D7A59;
line-height: 20px;
/* Pumpkin: */
font-family: Avenir-Book;
font-size: 36px;
color: #000000;
line-height: 20px;
/* Flanae: */
font-family: Avenir-Book;
font-size: 36px;
color: #000000;
line-height: 20px;
/* Adventure plain: */
font-family: Avenir-LightOblique;
font-size: 20px;
color: #5D7A59;
line-height: 20px;
/* Adventure plain: */
font-family: Avenir-LightOblique;
font-size: 20px;
color: #5D7A59;
line-height: 20px;
/* Adventure plain: */
font-family: Avenir-LightOblique;
font-size: 20px;
color: #5D7A59;
line-height: 20px;
/* Valley of luxem towe: */
font-family: Avenir-LightOblique;
font-size: 20px;
color: #5D7A59;
line-height: 20px;
/* Mask: */
background: #D8D8D8;
/* Bitmap: */
/* Choropy: */
font-family: Avenir-Book;
font-size: 36px;
color: #000000;
line-height: 20px;
/* Pomic: */
font-family: Avenir-Book;
font-size: 36px;
color: #000000;
line-height: 20px;
/* line: */
/* Sketch doesnt export gradient borders at this point */
/* line: */
/* Sketch doesnt export gradient borders at this point */
/* line: */
/* Sketch doesnt export gradient borders at this point */
/* line: */
/* Sketch doesnt export gradient borders at this point */
/* line: */
/* Sketch doesnt export gradient borders at this point */
/* Monsters: */
font-family: Avenir-Book;
font-size: 64px;
color: #000000;
line-height: 20px;
/* Rectangle 63: */
opacity: 0.71;
background: #D8D8D8;
border-radius: 4px;
/* Lv 1-10: */
font-family: Avenir-Book;
font-size: 36px;
color: #000000;
line-height: 20px;
/* Triangle 1: */
transform: rotate(90deg);
background: #FFFFFF;
/* Mask: */
background: #D8D8D8;
/* Bitmap: */
/* Jelly Beans: */
font-family: Avenir-Book;
font-size: 36px;
color: #000000;
line-height: 20px;
/* Mask: */
background: #D8D8D8;
/* Bitmap: */
/* Mask: */
background: #D8D8D8;
/* Bitmap: */
/* Mask: */
background: #D8D8D8;
/* Bitmap: */


/* mask: */
background: #1D1D26;
/* Bitmap: */
opacity: 0.45;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Rectangle 45: */
background: #FFFFFF;
/* DROPS: */
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
letter-spacing: 2px;
line-height: 24px;
/* active: */
border: 2px solid #FF3366;
/* INFO: */
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
letter-spacing: 2px;
line-height: 24px;
/* Triangle 1: */
transform: rotate(180deg);
background: #B7AEAE;
/* bg: */
background: #FFFFFF;
/* Rectangle 49: */
background: #E8E8E8;
/* 51: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* 51: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* snoozed: */
background: #BBF38F;
/* snoozed: */
background: #B3B5E3;
/* overdue: */
background: #FFB258;
/* snoozed: */
background: #8C88FF;
/* completed: */
background: #FF8888;
/* snoozed: */
background: #FFF988;
/* 126: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 26: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 1: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 2: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 120: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 34: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* Line: */
/* Sketch doesnt export gradient borders at this point */
/* Line: */
/* Sketch doesnt export gradient borders at this point */
/* HP: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* ACC: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* ATK: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* DEF: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* DOD: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* MD: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* Mask: */
/* Bitmap: */
/* Jelly Bean: */
font-family: Avenir-Book;
font-size: 36px;
color: #5D7A59;
line-height: 20px;
/* Bitmap: */


/* mask: */
background: #1D1D26;
/* Bitmap: */
opacity: 0.45;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Rectangle 45: */
background: #FFFFFF;
/* DROPS: */
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
letter-spacing: 2px;
line-height: 24px;
/* active: */
border: 2px solid #FF3366;
/* active: */
border: 2px solid #FF3366;
/* active: */
border: 2px solid #FF3366;
/* INFO: */
font-family: Avenir-Book;
font-size: 22px;
color: #1D1D26;
letter-spacing: 2px;
line-height: 24px;
/* Triangle 1: */
transform: rotate(180deg);
background: #B7AEAE;
/* Line: */
/* Sketch doesnt export gradient borders at this point */
/* Line: */
/* Sketch doesnt export gradient borders at this point */
/* Mask: */
/* Bitmap: */
/* Jelly Bean: */
font-family: Avenir-Book;
font-size: 36px;
color: #5D7A59;
line-height: 20px;
/*   Dark Visitor Look : */
font-family: ArialMT;
font-size: 30px;
color: #5989D7;
line-height: 11px;


/* mask: */
background: #1D1D26;
/* Bitmap: */
opacity: 0.45;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Rectangle 94: */
background: #FFFFFF;
/* oval: */
background: #50D2C2;
/* rectangle: */
background: #FFFFFF;
background-image: linear-gradient(-134deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.25) 76%);
border-radius: 4px;
/* rectangle: */
background: #FFFFFF;
border-radius: 4px 4px 0px 4px;
/* oval: */
background: #50D2C2;
/* rectangle: */
background: #FFFFFF;
background-image: linear-gradient(-134deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.25) 76%);
border-radius: 4px;
/* rectangle: */
background: #FFFFFF;
border-radius: 4px 4px 0px 4px;
/* oval: */
background: #50D2C2;
/* rectangle: */
background: #FFFFFF;
background-image: linear-gradient(-134deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.25) 76%);
border-radius: 4px;
/* rectangle: */
background: #FFFFFF;
border-radius: 4px 4px 0px 4px;
/* RUFF ROSE: */
font-family: Avenir-Book;
font-size: 48px;
color: #000000;
line-height: 11px;
/* Login server: */
font-family: Avenir-Heavy;
font-size: 48px;
color: #000000;
line-height: 11px;
/* Char server: */
font-family: Avenir-Heavy;
font-size: 48px;
color: #000000;
line-height: 11px;
/* World server: */
font-family: Avenir-Heavy;
font-size: 48px;
color: #000000;
line-height: 11px;
/* Online : 124: */
font-family: Avenir-LightOblique;
font-size: 36px;
color: #07AF43;
line-height: 11px;


/* Rectangle 41: */
background: #FFFFFF;
/* line: */
opacity: 0.05;
border: 2px solid #1D1D26;
/* shape: */
border: 2px solid #1D1D26;
/* bounds: */
/* Fearless vengeance: */
font-family: Avenir-Book;
font-size: 32px;
color: #1D1D26;
letter-spacing: 0.5px;
line-height: 32px;
/* line: */
opacity: 0.05;
border: 2px solid #1D1D26;
/* shape: */
border: 2px solid #1D1D26;
/* bounds: */
/* Rake hands: */
font-family: Avenir-Book;
font-size: 32px;
color: #1D1D26;
letter-spacing: 0.5px;
line-height: 32px;
/* line: */
opacity: 0.1;
border: 1px solid #1D1D26;
/* bg: */
background: #CEF6CD;
/* done: */
background: #50D2C2;
/* shape: */
border: 2px solid #50D2C2;
/* bounds: */
/* Long Sword: */
opacity: 0.39;
font-family: Avenir-Book;
font-size: 32px;
color: #1D1D26;
letter-spacing: 0.5px;
line-height: 32px;
/* line: */
opacity: 0.05;
border: 2px solid #1D1D26;
/* Katana: */
font-family: Avenir-Book;
font-size: 32px;
color: #1D1D26;
letter-spacing: 0.5px;
line-height: 32px;
/* shape: */
border: 2px solid #1D1D26;
/* bounds: */
/* Rectangle 109: */
background: #F7FEF1;
border-radius: 8px;
/* 23 KZ: */
font-family: Avenir-Book;
font-size: 32px;
color: #1D1D26;
letter-spacing: 0.5px;
line-height: 32px;
/* line: */
opacity: 0.05;
border: 2px solid #1D1D26;
/* bg: */
opacity: 0.2;
background: rgba(1,208,0,0.94);
/* done: */
background: #50D2C2;
/* Rectangle 109: */
background: #F7FEF1;
border-radius: 8px;
/* shape: */
border: 2px solid #50D2C2;
/* bounds: */
/* Bird feathers : */
opacity: 0.4;
font-family: Avenir-Book;
font-size: 32px;
color: #1D1D26;
letter-spacing: 0.5px;
line-height: 32px;
/* 20 KZ: */
font-family: Avenir-Book;
font-size: 32px;
color: #1D1D26;
letter-spacing: 0.5px;
line-height: 32px;
/* line: */
opacity: 0.05;
border: 2px solid #1D1D26;
/* Skull Breaker: */
font-family: Avenir-Book;
font-size: 32px;
color: #1D1D26;
letter-spacing: 0.5px;
line-height: 32px;
/* shape: */
border: 2px solid #1D1D26;
/* bounds: */
/* Triangle 1: */
transform: rotate(90deg);
background: #D8D8D8;
/* mask: */
background: #1D1D26;
/* Bitmap: */
opacity: 0.45;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Shop status: */
font-family: Avenir-Book;
font-size: 64px;
color: #1D1D26;
letter-spacing: 1px;
line-height: 42px;


/* mask: */
background: #1D1D26;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* Bitmap: */
opacity: 0.44;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Rectangle 45: */
background: #FFFFFF;
/* bg: */
background: #FFFFFF;
/* Axe Champ: */
font-family: Avenir-Book;
font-size: 36.59px;
color: #1D1D26;
line-height: 50px;
/* bg: */
background: #FFFFFF;
/* Skill tree: */
font-family: Avenir-Book;
font-size: 36.59px;
color: #1D1D26;
line-height: 50px;
/* Fill 4: */
background: #879238;
/* Fill 6: */
background: #333333;
/* Fill 8: */
background: #879238;
/* Fill 10: */
background: #879238;
/* Rectangle 49: */
background: #E8E8E8;
/* 51: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* snoozed: */
background: #F38FC6;
/* 115: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* snoozed: */
background: #A5E099;
/* overdue: */
background: #FFB258;
/* snoozed: */
background: #FF8888;
/* completed: */
background: #50D2C2;
/* snoozed: */
background: #8C88FF;
/* 20: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 20: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 50: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 100: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 50: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 190: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* Line: */
/* Sketch doesnt export gradient borders at this point */
/* Line: */
/* Sketch doesnt export gradient borders at this point */

/* Mask: */
border: 3px solid #979797;
/* Bitmap: */
/* Shidok Champ lvl 100: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;
/* Triangle 1: */
background: #D8D8D8;
/* Triangle 1: */
transform: rotate(180deg);
background: #D8D8D8;
/* CHA: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* SEN: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* DEX: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* STR: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* CON: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* INT: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* Shape: */
background: #000000;
/* Shape: */
background: #000000;
/* Shape: */
background: #000000;


/* mask: */
background: #1D1D26;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* Bitmap: */
opacity: 0.44;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Rectangle 45: */
background: #FFFFFF;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Bitmap: */
/* Bitmap: */
/* Bitmap: */
/* Bitmap: */
/* Bitmap: */
/* Line: */
/* Sketch doesnt export gradient borders at this point */
/* Line: */
/* Sketch doesnt export gradient borders at this point */

/* Mask: */
border: 3px solid #979797;
/* Bitmap: */
/* Shidok: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;
/* Triangle 1: */
background: #D8D8D8;
/* Triangle 1: */
transform: rotate(180deg);
background: #D8D8D8;
/* Bitmap: */
/* Bitmap: */
/* Oval 51: */
background: #D8D8D8;
/* 2: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;
/* Oval 51: */
background: #D8D8D8;
/* 5: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;
/* Oval 51: */
background: #D8D8D8;
border: 2px solid #FFFFFF;
/* 5: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;
/* Oval 51: */
background: #D8D8D8;
border: 2px solid #FFFFFF;
/* 7: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;


/* Rectangle 41: */
background: #FFFFFF;
/* Bitmap: */
/* Bitmap: */
/* Bitmap: */
/* Line: */
background: #000000;
border: 1px solid #000000;
/* Line: */
background: #000000;
border: 1px solid #000000;
/* Line: */
background: #000000;
border: 1px solid #000000;
/* Bitmap: */
/* Line: */
border: 2px solid #FF3366;
/* Line: */
border: 2px solid #FF3366;
/* Line: */
border: 2px solid #FF3366;
/* Stats: */
font-family: Avenir-Book;
font-size: 48px;
color: #000000;
line-height: 20px;
/* Cycle: */
font-family: Avenir-Book;
font-size: 48px;
color: #000000;
line-height: 20px;
/* Rectangle 49: */
background: #E8E8E8;
/* 51: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* Rectangle 49: */
background: #E8E8E8;
/* 51: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* snoozed: */
background: #F38FC6;
/* 115: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* snoozed: */
background: #A5E099;
/* overdue: */
background: #FFB258;
/* snoozed: */
background: #FF8888;
/* completed: */
background: #50D2C2;
/* snoozed: */
background: #8C88FF;
/* 51: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 20: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 300: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 135: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 50: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* 150: */
opacity: 0.74;
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* CHA: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* SEN: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* DEX: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* STR: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* CON: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* INT: */
font-family: Avenir-Book;
font-size: 24px;
color: #000000;
line-height: 20px;
/* mask: */
background: #1D1D26;
/* Bitmap: */
opacity: 0.45;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* Builds: */
font-family: Avenir-Book;
font-size: 64px;
color: #000000;
line-height: 20px;
/* PVP Raider: */
font-family: Avenir-Book;
font-size: 36px;
color: #000000;
line-height: 20px;
/* Rectangle 162: */
opacity: 0.42;
background: #D8D8D8;
border-radius: 8px;


/* mask: */
background: #1D1D26;
/* 112 points donator: */
font-family: AvenirNext-Medium;
font-size: 36px;
color: #FFFFFF;
letter-spacing: 0.51px;
line-height: 49px;
/* Bitmap: */
opacity: 0.44;
/* shid0x: */
font-family: AvenirNext-Regular;
font-size: 70px;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 69px;
/* bounds: */
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* line: */
border: 2px solid #FFFFFF;
/* bounds: */
/* White background: */
background: #FFFFFF;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
border: 4px solid #979797;
/* Line: */
/* Sketch doesnt export gradient borders at this point */
/* Line: */
/* Sketch doesnt export gradient borders at this point */

/* Mask: */
border: 3px solid #979797;
/* Bitmap: */
/* Shidok: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;
/* Triangle 1: */
background: #D8D8D8;
/* Triangle 1: */
transform: rotate(180deg);
background: #D8D8D8;
/* Bitmap: */
/* Bitmap: */
/* Bitmap: */
/* Bitmap: */
/* Bitmap: */
/* Bitmap: */
/* Bitmap: */
/* Oval 51: */
background: #D8D8D8;
/* 2: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;
/* Oval 51: */
background: #D8D8D8;
/* 5: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;
/* Oval 51: */
background: #D8D8D8;
border: 2px solid #FFFFFF;
/* 5: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;
/* Oval 51: */
background: #D8D8D8;
border: 2px solid #FFFFFF;
/* 6: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;
/* Oval 51: */
background: #D8D8D8;
border: 2px solid #FFFFFF;
/* 6: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;
/* Oval 51: */
background: #D8D8D8;
border: 2px solid #FFFFFF;
/* 7: */
font-family: Avenir-Book;
font-size: 30px;
color: #000000;
line-height: 20px;